@charset "utf-8";

/* ==========================================================================
   Variáveis
   ========================================================================== */
:root {
  --color-form-title: #255e78;
  --color-link: #08c;
  --color-green: #35dc57;
  --color-yellow: #dcd535;
  --color-red: #dc3535;
  --color-mid-grey: #b9b9b9;
  --color-darkest-grey: #333;
  --color-dark-grey: #aaa;
  --color-grey: #ccc;
  --color-light-grey: #e5e5e5;
  --color-lightest-grey: #eee;
  --color-daken-white: #f2f2f2;
}

/* ==========================================================================
   Animações - Key Frames
   ========================================================================== */
@keyframes spin-bounce {
  0% {
    transform: scale(0,0);
  }
  100% {
    transform: scale(1,1);
    opacity: 0;
  }
}


/* ==========================================================================
   Estilos Globais

   Componentes:
   - Classes Auxiliares
   - Campos Obrigatórios
   - Sections
   - Formulários
   - Grid
   - Tabelas
   - Inputs Sugestão
   - Empty States
   - Text Trunk
   - Callout
   - Textarea Autosize
   - Accordion
   - Tags
   - Status Badge
   - Notifier
   - Botões
   - Loader
   ========================================================================== */

/*
   Classes Auxiliares
   ========================================================================== */
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.no-margin {
  margin: 0 !important;
}

.center {
  text-align: center !important;
}

.justify {
  text-align: justify !important;
}

.form.textarea-full textarea {
  width: 100% !important;
}

.nowrap {
  white-space: nowrap;
}

.text-small {
  font-size: 11px
}

.disabled {
  cursor: not-allowed !important;
}

.w-50 { width: 50%; }
.w-40 { width: 40%; }
.w-10 { width: 10%; }

/*
   Campos Obrigatórios
   ========================================================================== */
[class*="col-"].is-required:after,    /* tabelas multi-line */
td.is-required:after,                 /* tabelas */
.field.is-required .field-label:after /* formulário */ {
  content: '*';
  color: var(--color-red);
  padding-left: 3px;
}


/*
   Sections
   ========================================================================== */
.section {
  display: flex;
  flex-direction: column;
}

.section + .section {
  margin-top: 30px;
}

.section:last-of-type {
  margin-bottom: 30px;
}

.section > .table {
  margin-left: 2.5%
}

/**
 * Section Separator - `hr`
 */
.section-separator {
  height: 1px;
  width: 100%;
  background-color: var(--color-light-grey);
  box-shadow: 0px 1px 2px rgba(0,0,0,.075);
  margin: 60px auto 30px auto;
}

.section-separator.slim {
  box-shadow: none;
  margin: 0 auto 30px auto;
}

/**
 * Section Typo
 */
.section-title {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0 10px 2.5%;
  font-size: 11pt;
  color: var(--color-form-title);
}

.section-subtitle {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0 10px 2.5%;
  font-size: 10pt;
  color: var(--color-form-title);
}

/*
   Formulários
   ========================================================================== */

/**
 * Orientação Horizontal - Default
 * [label]: [campo]
 */
.form-group {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 550px;
}

.form-group.full {
  max-width: calc(100% - 30px);
}

.form-group input[type=text],
.form-group select,
.form-group textarea,
.form-group .field-ctrl > * {
  width: 100% !important;
  margin: 0;
}

.form-group input[type=text],
.form-group select {
  height: 30px;
}

.form-group * {
  box-sizing: border-box;
}

/**
 * ... ver
 */
.form-group.limit-fields input[type=text],
.form-group.limit-fields select,
.form-group.limit-fields textarea,
.form-group.limit-fields .is-searchable {
  max-width: 550px;
}

.form-group.limit-fields.sm input[type=text],
.form-group.limit-fields.sm select,
.form-group.limit-fields.sm textarea,
.form-group.limit-fields.sm .is-searchable {
  max-width: 350px;
}

.field {
  display: flex;
  align-items: baseline;
  line-height: 25px;
}

.field + .field {
  margin-top: 10px;
}

.field-label {
  flex-basis: 265px;
  height: 100%;
  margin: 0;
  padding-right: 15px;
  text-align: right;
  cursor: text;
}

.field-ctrl {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  height: 100%;
  font-weight: bold;
}

.field-ctrl .radio,
.field-ctrl .checkbox {
  min-width: 100%;
}

.field-ctrl .radio + .radio,
.field-ctrl .checkbox + .checkbox {
  margin-top: 3px;
}

.field-ctrl .radio {
  display: flex;
  align-items: center;
}

.field-ctrl .radio input[type=radio] {
  margin-right: 5px;
}

.field-ctrl.field-checkbox label {
  min-height: initial !important;
}

.field-ctrl.field-checkbox input[type=checkbox] {
  width: initial !important;
  margin-top: 0 !important;
}

.field-ctrl.field-checkbox.single label {
  font-size: 0 !important;
  margin: 0 !important;
}

.field-ctrl em {
  min-width: 100%;
  font-size: 11px;
  color: #666;
  font-style: normal;
}

.field-ctrl ul {
  list-style: none;
}

/**
 * Labels somente leitura
 */
.form-label {
  font-weight: bold;
}

.form-label + span {
  white-space: pre-line;
}

/**
 * ... ver
 */
.form-sub {
  font-size: 11px;
}

.form-sub.inline {
  display: flex;
  align-items: center;
  margin: 3px 0
}

.form-sub.inline > span {
  line-height: 14px;
}

.form-sub.inline > .form-label + * {
  margin-left: 8px;
}

.form-sub.inline .form-label + [class*=icon] {
  margin-right: 2px
}

/**
 * Formulários - Orientação Vertical
 * [label]
 * [campo]
 */
 .form-group.multi-line {
  max-width: 750px;
  padding-left: 5%;
  padding-right: 5%;
}

.field.multi-line {
  flex-direction: column;
}

.field.multi-line + .field.multi-line {
  margin-top: 35px;
}

.field.multi-line .field-label {
  flex-basis: auto;
  text-align: left;
  margin-bottom: 10px;
  padding-right: 0;
  line-height: 25px;
}

.field.multi-line .field-label,
.field.multi-line .field-ctrl {
  min-width: 100%;
}

.field.multi-line .field-ctrl textarea {
  height: 100%;
}

.form-group.vertical .field.multi-line .field-ctrl input[type=text],
.form-group.vertical .field.multi-line .field-ctrl select {
  min-width: 180px;
}

/**
 * Campos `Inline`
 */
.field.inline {
  align-items: center;
}

.field.inline .field-label {
  padding-right: 15px;
  margin-top: 0
}

.field.inline .field-label,
.field.inline .field-ctrl {
  min-width: initial;
  margin-bottom: 0;
}

/**
 * Grupo de `Inputs`
 */
 .input-group {
  display: inline-flex;
  flex: 1;
}

.input-group input {
  flex: 1;
}

.input-group em {
  display: none;
}

.input-group input:first-of-type {
  border-radius: 4px 0 0 4px;
}

.input-group input:last-of-type {
  border-radius: 0 4px 4px 0;
}

.input-group-addon {
  padding: 0 10px;
  background-color: var(--color-lightest-grey);
  height: 30px;
  border-top: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
  box-sizing: border-box;
  line-height: 30px;
  font-weight: normal;
}

/**
 * Fields - Estado de Erro
 */
input[type=text].has-error,
select.has-error,
textarea.has-error {
  border-color: #f55656;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input[type=text].has-error:focus,
select.has-error:focus,
textarea.has-error:focus {
  border-color: #f55656 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f55656 !important;
}

/**
 * Fields - Disabled
 */
input[type=text].disabled {
  background-color: #f5f5f5;
}

/*
   Grid
   ========================================================================== */
.grid {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
}

.grid.margin {
  margin-bottom: 15px
}

.grid.joint [class*="col-"] {
  flex-basis: initial;
  margin-right: 10px;
}

[class*="col-"] {
  margin-right: 20px
}

[class*="col-"]:last-child {
  margin-right: 0;
}

.col-1 { flex-basis: calc(100% / (12/1) - ((12/1 - 1) * 20px) / (12/1)); }
.col-2 { flex-basis: calc(100% / (12/2) - ((12/2 - 1) * 20px) / (12/2)); }
.col-3 { flex-basis: calc(100% / (12/3) - ((12/3 - 1) * 20px) / (12/3)); }
.col-4 { flex-basis: calc(100% / (12/4) - ((12/4 - 1) * 20px) / (12/4)); }
.col-5 { flex-basis: calc(100% / (12/5) - ((12/5 - 1) * 20px) / (12/5)); }
.col-6 { flex-basis: calc(100% / (12/6) - ((12/6 - 1) * 20px) / (12/6)); }
.col-7 { flex-basis: calc(100% / (12/7) - ((12/7 - 1) * 20px) / (12/7)); }
.col-8 { flex-basis: calc(100% / (12/8) - ((12/8 - 1) * 20px) / (12/8)); }
.col-9 { flex-basis: calc(100% / (12/9) - ((12/9 - 1) * 20px) / (12/9)); }
.col-10 { flex-basis: calc(100% / (12/10) - ((12/10 - 1) * 20px) / (12/10)); }
.col-11 { flex-basis: calc(100% / (12/11) - ((12/11 - 1) * 20px) / (12/11)); }
.col-12 { flex-basis: calc(100% / (12/12) - ((12/12 - 1) * 20px) / (12/12)); }
.col-grow { flex: 1 }

@media (max-width: 1200px) {
  .col-6-md {
    flex-basis: calc(100% / (12/6) - ((12/6 - 1) * 20px) / (12/6));
  }
}

@media (min-width: 1201px) {
  .col-3-lg {
    flex-basis: calc(100% / (12/3) - ((12/3 - 1) * 20px) / (12/3));
  }
}

/*
Indicadores e Plano de Ação...
@media (max-width: 1400px) {
  .col-2-md { flex-basis: calc(100% / (12/2) - ((12/2 - 1) * 20px) / (12/2)); }
  .col-6-md { flex-basis: calc(100% / (12/6) - ((12/6 - 1) * 20px) / (12/6)); }
}

@media (min-width: 1401px) {
  .col-1-lg { flex-basis: calc(100% / (12/1) - ((12/1 - 1) * 20px) / (12/1)); }
  .col-3-lg { flex-basis: calc(100% / (12/3) - ((12/3 - 1) * 20px) / (12/3)); }
  .col-4-lg { flex-basis: calc(100% / (12/4) - ((12/4 - 1) * 20px) / (12/4)); }
} */

/*
   Tabelas
   ========================================================================== */
.table.auto {
  table-layout: auto;
}

.table td.sm,
.table th.sm {
  width: 80px;
}

.table td.md,
.table th.md {
  width: 120px;
}

.table tr.center th,
.table tr.center td {
  text-align: center;
  vertical-align: middle;
}

.table thead tr td {
  background-color: #fff;
}

.table .table-header {
  font-weight: bold;
  background-color: #f4f4f4;
}

/**
 * Tabelas Multi-valoradas
 */
.table-mv {
  border: none !important;
}

.table-mv tr.header {
  border-right: none !important;
}

.table-mv tr.is-done {
  border-left: 3px solid #5bb75b;
}

.table-mv tr.is-canceled {
  border-left: 3px solid #da4f49;
}

.table-mv tr.header td {
  padding: 8px 5px 8px 12px !important
}

.table-mv td {
  vertical-align: top;
  padding: 6px 10px !important;
  border-right: none !important;
  border-left: none !important;
}

/**
 * Estado de `loading`
 */
.table-mv.is-loading {
  position: relative;
}

.table-mv.is-loading:after {
  content: '';
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  transform: translate(-50%,-50%);
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #2d8cf0;
  transform-origin: center;
  animation: spin-bounce 1s 0s ease-in-out infinite;
}

.table-mv.is-loading:before {
  content: 'Carregando...';
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 11px;
  color: #2d8cf0;
}

.table-mv.is-loading tr.header {
  height: 200px;
}

.table-mv.inverted.is-loading tr.header {
  height: 200px;
  box-shadow: none;
}

.table-mv.is-loading tr:not(.header) {
  display: none;
}

.table-mv.is-loading #BtnInsertNewRow {
  visibility: hidden;
}

/**
 * Tabelas Dinâmicas ¹
 *
 * ¹: Tabelas com linhas somente leitura e aida habilitada a função para
 * adicionar novas linhas
 *
 * * Classe auxiliar para esconder a linha utilizada para clone na função
 *  `InsertNewRow` do Orquestra
 */
.table-mv.is-dynamic tr:nth-child(2) {
  display: none;
}

/**
 * Campos dentro da tabela
 */
.table-mv input,
.table-mv select,
.table-mv textarea {
  box-sizing: border-box;
  display: inline-flex;
  width: 100% !important;
  margin: 0;
}

.table-mv input,
.table-mv select {
  height: 30px;
}

.table-mv textarea {
  height: 100px;
}

/**
 * Estilo Invertido ¹
 *
 * Cores aplicadas somente as linhas e o cabeçalho somente com um box-shadow
 *
 * 1: impede que o box-shadow ultrapasse o limite esquerdo do wrapper do formulário
 */
.table-mv.inverted tr.header {
  position: relative;
  box-shadow: -4px 0 #edecf0, /* 1 */
              -3px 2px 2px 1px rgba(0,0,0,.05);
}

.table-mv.inverted tr.header td {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.table-mv.inverted .table-mv-row.primary {
  background-color: #f2f2f2;
}

.table-mv.inverted .table-mv-row.primary td {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

/**
 * Tabelas Multi-valoradas `multi-linhas`¹
 *
 * ¹: tabelas multi-valoradas onde cada linha da tabela é composta por um 'grupo' de linhas
 * abstraido em um única `tr`
 */
.table-mv.multi-line tr:not(.header) td:not(:first-child) {
  padding: 0 !important;
}

/**
  * 1: Para viabilizar a inserção de um bloco no :after da <td>
  * e posicioná-lo dentro desta, é preciso alterar a sua position
  */
.table-mv.inverted.multi-line tr:not(.header) td:first-child {
  position: relative; /* 1 */
}

/**
  * 1: Como a <td> que contém o botão 'Excluir' possui a altura total
  * de um grupo de linhas, é preciso simular a altura da primeira linha
  * através de um bloco no pseudo elemento :after
  */
.table-mv.inverted.multi-line tr:not(.header) td:first-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px; /* 1 */
  background-color: var(--color-daken-white); /* 1 */
  border-bottom: 1px solid var(--color-lightest-grey); /* 1 */
}

/**
  * 1: Como foi adicionado um bloco sobre a <td> do botão 'Excluir' é preciso
  * alterar o z-index e a position do botão para que este fique sobre o bloco
  */
.table-mv.inverted.multi-line tr:not(.header) td:first-child > button[onclick='DeleteRow(this)'],
.table-mv.inverted.multi-line tr:not(.header) td:first-child > .btn-delete-mv {
  position: relative; /* 1 */
  z-index: 999; /* 1 */
}

.table-mv.multi-line tr:not(.header) td:first-child,
.table-mv-row.primary {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.table-mv.multi-line .table-mv-row.primary {
  border-bottom: 1px solid var(--color-lightest-grey);
}

.table-mv-subrows,
.table-mv.multi-line .table-mv-row.primary {
  padding-right: 12px;
}

.table-mv-subrows {
  padding-top: 15px;
  padding-bottom: 30px;
}

/*
   Inputs Sugestão
   ========================================================================== */
.is-searchable {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.is-searchable * {
  box-sizing: border-box;
}

/* lista com o resultado da busca de campos tipo sugestão */
.is-searchable ul {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  top: 42px;
  width: 100%;
  background: #fff;
  border-radius: 0;
  border: 1px solid var(--color-light-grey);
  box-shadow: 2px 4px 6px rgba(0,0,0,.2);
}

.is-searchable ul li {
  display: flex;
}

.is-searchable ul li a {
  padding: 3px 10px;
  flex: 1;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-searchable ul li a:hover {
  text-decoration: none;
}

/* <em> nativo do Orquestra com o `.gif` de `loading` */
.is-searchable em:last-of-type {
  position: absolute;
  top: 4px;
  right: 10px;
  min-width: initial;
}

/*
   Empty States
   ========================================================================== */
.empty {
  display: flex;
  padding: 15px 25px;
  border-left: 3px solid var(--color-daken-white);
  margin-left: 15px;
}

.empty-content {
  display: flex;
  align-items: center;
}

.empty-content p {
  color: var(--color-dark-grey);
  margin: 0;
}

.empty-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--color-daken-white);
  border-radius: 50%;
  color: var(--color-grey);
  font-weight: bold;
  font-size: 22px;
  margin-right: 15px
}

/*
   Text Trunk
   ========================================================================== */
.text-trunk-trigger {
  color: var(--color-link);
  cursor: pointer;
  white-space: nowrap;
}

.text-trunk-trigger:hover {
  text-decoration: underline;
}

/*
   Callout
   ========================================================================== */
.callout {
  padding: 10px 15px;
  border-left: 3px solid var(--color-light-grey);
  margin: 15px;
}

.callout.danger {
  border-color: #da4f49;
}

.callout h1 {
  margin: 0 0 10px 0;
  font-size: 15px;
  line-height: initial;
}

.callout p {
  font-weight: normal;
  margin: 0;
  color: var(--color-darkest-grey);
}

.callout p + p {
  margin-top: 15px;
}

/*
   Textarea Autosize
   ========================================================================== */
textarea.autosize {
  height: 30px;
  overflow: hidden;
  resize: none;
}

/*
   Accordion
   ========================================================================== */
.accordion {
  overflow: hidden;
}

.accordion-legend {
  position: relative;
  padding: 10px 15px 10px 40px;
  box-shadow: 0 3px 2px 1px rgba(0,0,0,.05);
  font-weight: bold;
  color: #404851;
}

.accordion-item + .accordion-item {
  border-top: 1px solid var(--color-light-grey);
  margin-top: 15px;
}

.accordion-header {
  display: flex;
  align-items: center;
  background-color: var(--color-lightest-grey);
  border-bottom: var(--color-light-grey);
  padding: 10px 15px 10px 10px;
  cursor: pointer;
}

.accordion-indicator {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  transition: all ease 250ms
}

.accordion-item.is-open .accordion-indicator {
  transform: rotate(90deg)
}

.accordion-content {
  margin-left: 25px;
  padding: 15px;
}

/**
 * Ícone
 */
.arrow-right {
  position: relative;
}

.arrow-right:before,
.arrow-right:after {
  content: '';
  position: absolute;
  width: 3px;
  height: 65%;
  left: 50%;
  background-color: #555;
}

.arrow-right:before {
  top: 0;
  transform: translateX(-50%) rotate(-45deg);
}

.arrow-right:after {
  transform: translateX(-50%) rotate(45deg);
  bottom: 0;
}

/*
   Tags
   ========================================================================== */
.tag {
  display: inline-block;
  white-space: nowrap;
  font-size: 11px;
  line-height: 11px;
}

.tag.bullet {
  position: relative;
}

.tag.bullet:before {
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 3px;
}

.tag.bullet.green:before {
  background-color: #35dc57;
}

.tag.bullet.yellow:before {
  background-color: #dcd535;
}

.tag.bullet.red:before {
  background-color: #dc3535;
}

.tag.bullet.grey:before {
  background-color: #b9b9b9;
}

/*
   Status Badge
   ========================================================================== */
.status-badge {
  display: inline-block;
  font-size: 12px;
  position: relative;
  margin-left: 17px;
  white-space: nowrap;
}

.status-badge:before,
.status-badge:after {
  content: '';
  position: absolute;
  box-sizing: border-box;
}

/**
 * Suspensa
 */
.status-badge.is-suspended:before {
  width: 12px;
  height: 12px;
  border: 2px solid #e8a531;
  border-radius: 50%;
  left: -18px;
  top: 3px;
}

.status-badge.is-suspended:after {
  height: 12px;
  width: 2px;
  background-color: #e8a531;
  left: -13px;
  transform: rotate(45deg);
  border-radius: 50%;
  top: 3px;
}

/**
 * Não Iniciada
 */
.status-badge.is-uninitialized:after {
  width: 12px;
  height: 3px;
  background-color: #8e8e8e;
  left: -18px;
  top: 8px;
}

/**
 * Em Andamento
 */
.status-badge.is-inprogress:before {
  width: 5px;
  height: 9px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #3e81f5;
  left: -10px;
  top: 5px;
}

.status-badge.is-inprogress:after {
  width: 8px;
  height: 3px;
  background-color: #3e81f5;
  left: -18px;
  top: 8px;
}

/**
 * Concluída
 */
.status-badge.is-done {
  color: #5bb75b;
}

.status-badge.is-done:before {
  width: 5px;
  height: 2px;
  background-color: #5bb75b;
  left: -19px;
  box-sizing: border-box;
  top: 9px;
  transform: rotate(45deg);
}

.status-badge.is-done:after {
  width: 11px;
  height: 2px;
  background-color: #5bb75b;
  left: -17px;
  top: 8px;
  transform: rotate(-45deg);
}

/**
 * Cancelada
 */
.status-badge.is-canceled {
  color: #da4f49;
}

.status-badge.is-canceled:before {
  width: 11px;
  height: 2px;
  background-color: #da4f49;
  left: -18px;
  top: 8px;
  transform: rotate(45deg);
}

.status-badge.is-canceled:after {
  width: 11px;
  height: 2px;
  background-color: #da4f49;
  left: -18px;
  top: 8px;
  transform: rotate(-45deg);
}

/*
   Notifier
   ========================================================================== */
.notifier-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 0;
  z-index: 999;
}

.notifier {
  position: relative;
  float: left;
  clear: left;
  padding-right: 14px;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -50px);
  transition: all ease .3s;
}

.notifier p {
  margin-bottom: 0;
}

.notifier.is-active {
  transform: translate(-50%, 0);
  opacity: 1;
}

/*
   Botões
   ========================================================================== */
#buttons .btn:not(:last-of-type) {
  margin-right: 10px; /* avaliar necessidade */
}

.btn > [class^="icon-"] {
  margin-right: 5px;
}

/*
   Loader
   ========================================================================== */
.loader {
  position: relative;
  width: 16px;
  height: 16px;
}

.loader:before {
  content: '';
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #2d8cf0;
  transform-origin: center;
  animation: spin-bounce 1s 0s ease-in-out infinite;
}

.loader:after {
  content: attr(data-text);
  font-size: 11px;
  color: #2d8cf0;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
}

.loader.horizontal:after {
  content: attr(data-text);
  margin-left: 22px;
  font-size: 11px;
  color: #2d8cf0;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
}

/**
 * P015
 */
#form-finish .callout {
  margin-left: 50px;
}

/**
 * P017
 */
 #indicators-report p {
  text-align: justify;
}

/**
 * Processo P018
 */
#tbl-goals table {
  table-layout: fixed;
}

#tbl-goals table td:nth-child(2) {
  width: 60%;
}

#tbl-committee td:nth-child(3) {
  width: 40%;
}


